.dialog-container {
    text-align: center;
    overflow: hidden;
    width: 50%;
    height: 50%;
    max-width: 400px;
}

.dialog-image {
    width: 50%;
    max-width: 400px;
    transition: transform 0.2s;
}

lib-ngx-image-zoom {

}