.home-card {
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.centered-search {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.search-field {
    width: 50%;
    max-width: 400px;
    min-width: 200px;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(224, 121, 135, 0.15);
}
