<!-- Patient Details Section -->
<div class="patient-details" *ngIf="patient">
    <h2>Patient Details</h2>
    <p><strong>Name:</strong> {{ patient.firstName }} {{ patient.lastName }}</p>
    <p><strong>OIB:</strong> {{ patient.oib }}</p>
    <p><strong>Date of Birth:</strong> {{ patient.dateOfBirth | date:'mediumDate' }}</p>
    <p><strong>Address:</strong> {{ patient.address }}</p>
    <p><strong>Contact Phone:</strong> {{ patient.contactPhone }}</p>
    <p><strong>Email:</strong> {{ patient.email }}</p>
    <p><strong>Uses Hormone Therapy:</strong> {{ patient.usesHormoneTherapy ? 'Yes' : 'No' }}</p>
    <p><strong>Family History of Cancer:</strong> {{ patient.hasFamilyHistoryOfCancer ? 'Yes' : 'No' }}</p>
    <p><strong>Had Cancer:</strong> {{ patient.hasHadCancer ? 'Yes' : 'No' }}</p>
    <p><strong>In Menopause:</strong> {{ patient.isInMenopause ? 'Yes' : 'No' }}</p>
</div>

<!-- Analyses Table Section -->
<div class="analyses-table">
    <h2>Analyses</h2>

    <!-- Search Input -->
    <mat-form-field appearance="outline">
        <mat-label>Search Analyses</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search Analyses">
    </mat-form-field>

    <!-- Paginated Table -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <!-- BIRADS Score Column -->
        <ng-container matColumnDef="birads_score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> BIRADS Score </th>
            <td mat-cell *matCellDef="let element"> {{ element.birads_score }} </td>
        </ng-container>

        <!-- Radiologist BIRADS Score Column -->
        <ng-container matColumnDef="radiologist_birads_score">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Radiologist BIRADS Score </th>
            <td mat-cell *matCellDef="let element"> {{ element.radiologist_birads_score }} </td>
        </ng-container>

        <!-- Created At Column -->
        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Created At </th>
            <td mat-cell *matCellDef="let element"> {{ element.created_at | date:'medium' }} </td>
        </ng-container>

        <!-- Header and Row Declarations -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onAnalysisClick(row)"></tr>
    </table>


    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
